<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cs.dit.mapper.ReviewMapper">

	<!-- 페이지네이션 -->
	<select id="getListPage" resultType="cs.dit.domain.ReviewVO">
		select * from br_review order by rNum desc limit #{pageStart}, #{amount}
	</select>

	<!-- 목록보기 -->
	<select id="getList" resultType="cs.dit.domain.ReviewVO">
		select * from br_review order by rNum desc
	</select>

	<!-- 리뷰등록 -->
	<insert id="insert">
		insert into br_review (nickName, bname, content)
				values (#{nickName}, #{bname}, #{content})
	</insert>
	
	<!-- 리뷰상세 -->
	<select id="selectOne" resultType="cs.dit.domain.ReviewVO">
		select * from br_review where rNum = #{rNum}
	</select>
	
	<!-- 페이지 수 계산 -->	
	<select id="getTotal" resultType="int">
		select count(rNum) from br_review
	</select>
	
</mapper>